<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin_3</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="admintousercss.css" />
  </head>

  <body>
    <div class="sidebar" id="ab">
      <div class="logo"></div>
      <u1 class="menu">
        <li class="active">
          <a href="#">
            <i class="fas fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fas fa-chart-bar"></i>
            <span>Status Check</span>
          </a>
        </li>

        <li class="logout" style="position: relative; top: 25rem">
          <a href="#">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        </li>
      </u1>
    </div>

    <div class="main--content">
      <h3
        style="
          font-size: 35px;
          background: rgb(255, 0, 72);
          width: 50vw;
          position: relative;
          left: 19rem;
          padding-left: 4rem;
          padding-top: 7px;
          height: 4rem;
          border-radius: 15px;
        "
      >
        IPAS COMPLAINT MANAGEMENT SYSTEM
      </h3>
      <div
        class="header--wrapper"
        style="
          position: relative;
          top: 1rem;
          border-radius: 30px;
          height: 10vh;
          background: gray;
        "
      >
        <div class="header--title">
          <i
            class="fa-sharp fa-solid fa-greater-than"
            style="font-size: x-large; position: relative; top: 0.9rem"
          ></i>
          <h2 style="position: relative; bottom: 1.2rem; left: 30px">
            Dashboard
          </h2>
        </div>
        <i
          class="fa-sharp fa-solid fa-greater-than"
          style="
            font-size: x-large;
            position: relative;
            top: -0.3rem;
            left: 50px;
          "
        ></i>

        <h2 style="position: relative; left: 60px; bottom: 0.3rem">
          Review Dealer
        </h2>

        <img
          src="https://source.unsplash.com/160x160/?Chocolate"
          style="position: relative; bottom: 7px; left: 60rem"
          alt=""
        />
      </div>

      <div class="container">
        <h1 style="position: relative; bottom: 0.8rem">User Complaints</h1>

        <div class="subheadings">
          <div class="subheading">Com.ID</div>
          <div
            class="sidbox"
            style="width: 200px; border: 2px solid black; border-radius: 5%"
          >
            <div class="subheading" id="complaint">
              <%= complaint.complaint_id %>
            </div>
          </div>
          <div class="subheading">Division</div>
          <div
            class="sidbox"
            style="width: 200px; border: 2px solid black; border-radius: 5%"
          >
            <div class="subheading" id="division">
              <%= complaint.complaint_division %>
            </div>
          </div>
          <div class="subheading">Section</div>
          <div
            class="sidbox"
            style="width: 200px; border: 2px solid black; border-radius: 5%"
          >
            <div class="subheading" id="section">
              <%= complaint.complaint_section %>
            </div>
          </div>
        </div>

        <div class="form-container">
          <h3>Complaint Description</h3>
          <div class="dialogue-box">
            <div class="subheading" id="complaint_desc">
              <%= complaint.complaint_desc %>
            </div>
          </div>
        </div>

        <div class="form-container">
          <h3>Remarks from Dealer</h3>
          <div class="dialogue-box">
            <div class="subheading" id="complaint_dealer_remark">
              <%= complaint.complaint_dealer_remark %>
            </div>
          </div>
        </div>

        <div class="form-container">
          <h3>Remarks To User</h3>
          <div class="dialogue-box">
            <textarea
              class="form-input"
              rows="4"
              placeholder="Enter remarks to User"
            >
            </textarea>
          </div>
        </div>

        <div style="text-align: center">
          <button class="form-submit" style="position: relative; top: 0.7rem">
            Resolved
          </button>
        </div>
      </div>
    </div>

    <script>
      const allDropdown = document.querySelectorAll(".sidebar .side-dropdown");

      allDropdown.forEach((item) => {
        const a = item.parentElement.querySelector("a:first-child");
        a.addEventListener("click", function (e) {
          e.preventDefault();

          this.classList.toggle("active");
          item.classList.toggle("show");
        });
      });
    </script>
  </body>
</html>
